{% extends 'base.html' %}
{% block header %}
  <h1>Оформление заказа</h1>
{% endblock header %}
{% block content %}
<h2>Введите информацию для оформнения заказа</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Оформить заказ</button>
</form>
<h2>Пример оформления заявки</h2>
<p>Наименование товара:Бокс 1</p>
<p>Ваше полное имя:Иванов Иван Иванович</p>
<p>Введите ваш @mail:ivan@mail.ru</p>
<p>Адрес получения:г.Красноярск ул.Мира 122 кв.15 индекс660626</p>
<p>Номер телефона:8 9ХХ ХХХ ХХ ХХ</p>
<h2>После оформления заказа с вами свяжется наш оператор для подтверждения заказа и проведения оплаты,ожидайте звонка.</h2>


{% endblock content %}