{% extends 'base.html' %}
{% block header %}
<h1>Список товаров магазина</h1>
{% endblock header %}
{% block content %}
<table>
    <tr>
        <th>Внешний вид</th>
        <th>Название продукта</th>
        <th>Описание продукта</th>
        <th>Стоимость без доставки</th>
    </tr>
    <tr>
        <td>
            <img src="https://sun9-19.userapi.com/impg/8OCVM8Uq9PPxDAkPDV277PhEN23StyOc2DDEPQ/4370acAZF3o.jpg?size=647x807&quality=95&sign=8eda911b7c239d39e41511c3b83cbabd&c_uniq_tag=A_zSfXip2gXcuCmMixJE1_kktX2Xn1n0-WGcYxTriA4&type=album"
             alt="GFG Logo" width="100" height="100">
        </td>
        <td>Подарочная коробка № 1</td>
        <td></td>
        <td>780 рублей</td>
    </tr>
    <tr>
        <td><img src="https://sun9-19.userapi.com/impg/8OCVM8Uq9PPxDAkPDV277PhEN23StyOc2DDEPQ/4370acAZF3o.jpg?size=647x807&quality=95&sign=8eda911b7c239d39e41511c3b83cbabd&c_uniq_tag=A_zSfXip2gXcuCmMixJE1_kktX2Xn1n0-WGcYxTriA4&type=album"
             alt="GFG Logo" width="100" height="100">
        </td>
        <td>Подарочная коробка № 2</td>
        <td></td>
        <td>900 рублей</td>
    </tr>
    <tr>
        <td><img src="https://sun9-19.userapi.com/impg/8OCVM8Uq9PPxDAkPDV277PhEN23StyOc2DDEPQ/4370acAZF3o.jpg?size=647x807&quality=95&sign=8eda911b7c239d39e41511c3b83cbabd&c_uniq_tag=A_zSfXip2gXcuCmMixJE1_kktX2Xn1n0-WGcYxTriA4&type=album"
             alt="GFG Logo" width="100" height="100">
        </td>
        <td>Подарочная коробка № 3</td>
        <td></td>
        <td>1200 рублей</td>
    </tr>
    <tr>
        <td><img src="https://sun9-19.userapi.com/impg/8OCVM8Uq9PPxDAkPDV277PhEN23StyOc2DDEPQ/4370acAZF3o.jpg?size=647x807&quality=95&sign=8eda911b7c239d39e41511c3b83cbabd&c_uniq_tag=A_zSfXip2gXcuCmMixJE1_kktX2Xn1n0-WGcYxTriA4&type=album"
             alt="GFG Logo" width="100" height="100">
        </td>
        <td>Собери сам</td>
        <td></td>
        <td>850 рублей</td>
    </tr>
</table>
<h1>Стоимость доставки может разной в зависимоти от пункта выдачи посылки</h1>
{% endblock content %}